<main class="container">
  <div class="header">
    <h1><%= @recipe.name %></h1>
    <p><%= @recipe.description %></p>
  </div>

  <%= form_for @recipe, url: toggle_public_recipe_path(@recipe), method: :patch do |f| %>
    <label class="relative inline-flex items-center mr-5">
      <%= f.check_box :public, class: "sr-only peer", checked: @recipe.public %>
      <div class="w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
      <%= f.submit "Public", class: "cursor-pointer" %>
    </label> 
  <% end %>

  <div class="details">
    <p>Preparation time: <%= @recipe.preparation_time %> minutes</p>
    <p>Cooking time: <%= @recipe.cooking_time %> minutes</p>
  </div>

  <%= button_to "Delete", recipe_path(@recipe), method: :delete, class: "btnDelete", data: { confirm: "Are you sure you want to delete this recipe?" } %>
</main>
