<div class='add-food-form-wrapper'>
    <%= form_with model: @food, url: foods_url, class: 'form' do |form| %>

    <div class='form-items'>
        <%= form.label :name %></br>
        <%= form.text_field :name %>
    </div>

    <div class='form-items'>
        <%= form.label :measurement_unit %></br>
        <%= form.text_field :measurement_unit %>
    </div>

    <div class='form-items'>
        <%= form.label :price %></br>
        <%= form.text_field :price %>
    </div>

    <div class='form-items'>
        <%= form.label :quantity%></br>
        <%= form.text_field :quantity%>
    </div>

    <div class="btn-submit">
        <%= form.submit value="Submit" %>
    </div>
    <% end %>
</div>